__pycache__/

outputs/
notebooks/

*.egg-info/

resources/tibhannover/models/**.ckpt

.DS_Store

# ignore nominatim map files
*.pbf
nominatim-data/

# ignore nominatim local
Nominatim/

# ignore google landmark dataset
assets/data/
assets/imgs/google-landmark/
